/* Papildomai, galima pasinaudoti SaaS arba Less CSS preprocesoriumi */
/* -------------------------------------------------------------- */
body {
    background: #D9D9D9;



}

/* Papildomas komentaras */

.form-check-input:checked[type=checkbox] {
    background-image: none;
}

.edit {
    color: #6c757d;
    border: none;
    font-size: 18px;
}

.edit:hover {
    color: #495057;
    background-color: transparent;
    text-decoration: none;
}

.complete {
    color: #6c757d;
    border: none;
    font-size: 24px;
}

.green {
    color: green;
    border: none;
    font-size: 34px;

}


.task-done label {
    text-decoration: line-through;
    font-weight: bold;
}

.complete:hover {
    color: #495057;
    background-color: transparent;

}

.trinti {
    color: red;
}


@media (max-width: 1000px) {
    .column {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .col-10 {
        width: 100%;
    }

    .col-2 {

        width: 100%;
    }

    .container {
        min-width: 380px;
    }


}